---
import Layout from '~/layouts/PageLayout.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

//import Image from 'astro/components/Image.astro';
import Image from '~/components/common/Image.astro';

import LogoImage from '~/assets/logo.svg';
import PerformanceImage from '~/assets/images/performance.png';
import HeroText from '~/components/widgets/HeroText.astro';
import Button from '~/components/ui/Button.astro';

import '@fontsource-variable/cinzel';
import FadeIn from '~/components/effects/FadeIn.astro';

const metadata = {
  title: 'Silver Stag Studios - Building Modern Digital Legacies',
  ignoreTitleTemplate: true,
};

import TreesSVG from '~/assets/trees.svg';
import Features from '~/components/widgets/Features.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
---

<Layout metadata={metadata}>
  <div class="flex flex-col justify-center w-full">
    <div class="relative z-10 p-4">
      <div class="flex justify-center mt-10">
        <div class="w-1/3 flex justify-center">
          <Image src={LogoImage} alt="Silver Stag Studios Logo" width={250} />
        </div>
      </div>

      <HeroText>
        <Fragment slot="subtitle"><span class="text-lg font-nomral">Your Go-To Painter Professionals</span></Fragment>
      </HeroText>

      <div class="flex flex-row justify-center space-x-3">
        <Button text="Get A Quote" variant="secondary" class="bg-white dark:bg-transparent btn-grow" href="/contact" />
        <Button text="About Us" variant="secondary" class="bg-white dark:bg-transparent btn-grow" href="/about" />
      </div>
    </div>
  </div>

  <div class="bg-gradient-to-tr from-[#ff3333] to-[#ff5555] relative pt-32">
    <div class="custom-shape-divider-top-1728428340">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
          d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
          class="shape-fill"></path>
      </svg>
    </div>

    <div class="flex flex-col justify-center items-center pt-20 pb-20 space-y-5 w-full">
      <FadeIn delay={300}>
        <h1 class="text-4xl text-white">What We Do</h1>
      </FadeIn>

      <div class="w-full p-5 lg:p-10">
        <FadeIn delay={300} direction="left">
          <div class="flex flex-col lg:flex-row justify-center items-center">
            <div class="relative h-64 w-1/2 rounded-lg overflow-hidden shadow-lg lg:mr-44">
              <!-- Background Image -->
              <div
                class="absolute inset-0 bg-cover bg-center contrast-50 bg-[url('https://images.pexels.com/photos/221027/pexels-photo-221027.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')]"
              >
              </div>

              <!-- Overlay for text -->
              <div class="relative z-10 flex flex-col h-full justify-center items-center text-center text-white px-4">
                <h2 class="text-3xl font-bold mb-2">Interior Painting</h2>
                <p class="text-sm"></p>
              </div>

              <!-- Optional gradient overlay -->
              <div class="absolute inset-0 bg-gradient-to-b from-black to-transparent opacity-40"></div>
            </div>
          </div>
        </FadeIn>
      </div>

      <div class="w-full p-5 lg:p-10">
        <FadeIn delay={300} direction="right">
          <div class="flex flex-col lg:flex-row justify-center items-center">
            <div class="relative h-64 w-1/2 rounded-lg overflow-hidden shadow-lg lg:ml-44">
              <!-- Background Image -->
              <div
                class="absolute inset-0 bg-cover bg-center contrast-50 bg-[url('https://images.pexels.com/photos/6473982/pexels-photo-6473982.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')]"
              >
              </div>

              <!-- Overlay for text -->
              <div class="relative z-10 flex flex-col h-full justify-center items-center text-center text-white px-4">
                <h2 class="text-3xl font-bold mb-2">Exterior Painting</h2>
                <p class="text-sm"></p>
              </div>

              <!-- Optional gradient overlay -->
              <div class="absolute inset-0 bg-gradient-to-b from-black to-transparent opacity-40"></div>
            </div>
          </div>
        </FadeIn>
      </div>

      <div class="w-full p-5 lg:p-10">
        <FadeIn delay={300} direction="left">
          <div class="flex flex-col lg:flex-row justify-center items-center">
            <div class="relative h-64 w-1/2 rounded-lg overflow-hidden shadow-lg lg:mr-44">
              <!-- Background Image -->
              <div
                class="absolute inset-0 bg-cover bg-center contrast-50 bg-[url('https://images.pexels.com/photos/6474471/pexels-photo-6474471.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')]"
              >
              </div>

              <!-- Overlay for text -->
              <div class="relative z-10 flex flex-col h-full justify-center items-center text-center text-white px-4">
                <h2 class="text-3xl font-bold mb-2">Commercial Painting</h2>
                <p class="text-sm"></p>
              </div>

              <!-- Optional gradient overlay -->
              <div class="absolute inset-0 bg-gradient-to-b from-black to-transparent opacity-40"></div>
            </div>
          </div>
        </FadeIn>
      </div>
    </div>
  </div>

  <div class="relative">
    <div class="custom-shape-divider-bottom-1728429303">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
          d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
          class="shape-fill"></path>
      </svg>
    </div>
    <FadeIn delay={300} direction="up">
      <Testimonials
        title="Hear from our Customers"
        testimonials={[
          {
            testimonial: `We hired Paint Pros to update the interior of our home, and we couldn’t be happier! The team was professional, detail-oriented, and left everything spotless. Our living room looks brand new, and the fresh color has completely transformed our space. Highly recommend them for any interior work!`,
            name: 'Cary Kennedy',
            job: 'Local Home',
            image: {
              src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
              alt: 'Cary Kennedy Image',
            },
          },
          {
            testimonial: `The crew did a fantastic job painting the exterior of our house. They were punctual, efficient, and the quality of their work is outstanding. Our house looks amazing, and we’ve already received so many compliments from neighbors. If you need exterior painting, this is the team to call!`,
            name: 'Josh Wilkinson',
            job: 'Local Home',
            image: {
              src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
              alt: 'Josh Wilkinson Image',
            },
          },
          {
            testimonial:
              'We recently had our office repainted by this company, and they did a phenomenal job. They worked around our schedule to minimize disruptions, and the result was impeccable. The new paint has given our business a fresh, welcoming look. I couldn’t be more pleased with their work!',
            name: 'Sidney Hansen',
            job: 'Local Business',
            image: {
              src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
              alt: 'Sidney Hansen Image',
            },
          },
        ]}
        callToAction={{
          text: 'See More Of Our Projects',
          href: '/portfolio',
          icon: 'tabler:chevron-right',
        }}
      />
    </FadeIn>
  </div>

  <!-- CallToAction Widget *********** -->
  <FadeIn delay={300}>
    <CallToAction>
      <Fragment slot="actions">
        <Button class="btn-shiny" href="/contact">Contact Us</Button>
      </Fragment>

      <Fragment slot="title">
        Ready to start your next project?<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
      </Fragment>

      <Fragment slot="subtitle">
        Contact us today for a free quote!<br class="hidden md:inline" />
      </Fragment>
    </CallToAction>
  </FadeIn>
</Layout>

<style>
  .custom-shape-divider-top-1728428340 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-top-1728428340 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }

  .custom-shape-divider-top-1728428340 .shape-fill {
    fill: #ffffff;
  }

  .custom-shape-divider-bottom-1728429303 {
    position: absolute;
    top: -19%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1728429303 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }

  .custom-shape-divider-bottom-1728429303 .shape-fill {
    fill: #ffffff;
  }
</style>
